*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.column{
    float: left;
  width: 50%;
  height: 100vh;

}

.container{
    display: flex;
}
.about{
    margin-left: 300px;
    margin-top: -20%;
}
#img{
  margin-top: 20px;
  margin-left: 20px;
}
.skills{
  margin-top: 50px;
}
/*baar*/

.myProgress {
    width: 80%;
    background-color: #ddd;
    margin-left: 10px;
  }
  
  #myBar {
    width: 90%;
    height: 20px;
    background-color: #2196F3;
    text-align: center;
    line-height: 20px;
    color: white;
  }
  #bar {
    width: 80%;
    height: 20px;
    background-color: #2196F3;
    text-align: center;
    line-height: 20px;
    color: white;
  }
  #bar2 {
    width: 70%;
    height: 20px;
    background-color: #2196F3;
    text-align: center;
    line-height: 20px;
    color: white;
  }
  #bar3 {
    width: 75%;
    height: 20px;
    background-color: #2196F3;
    text-align: center;
    line-height: 20px;
    color: white;
  }
  #write{
    font-size: 25px;
    margin-left: 20px;
    margin-right: 20px;
  }